@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


$primary: #d400ff;
$body-bg: #333333;
$body-color: #ffffff;

body, html {
    background: #333;
    color: #fefefe;
}

/* Override BootStrap */
body {
    .table {
        table-layout: fixed;

        thead th {
            border-top: none;
        }
    }

    .h5, h5 {
        font-size: 13px;
        color: #aaa;
    }

    .form-control {
        color: #fff;
        background: #333;
        border: 2px solid #666;
        transition: 0.1s all;

        &:active, &:focus {
            color: #eee;
            background: #333;
            border: 2px solid #888;
            box-shadow: none;
        }
    }

    #adjusted-decibel {
        background: #262626;
        border: 2px solid #555555;
        border-radius: 5px;
        display: inline-block;
    }

    #decibel-number {
        font-weight: bold;
        letter-spacing: 1px;
    }
}

@import "./../node_modules/bootstrap/scss/bootstrap";